* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-weight: 400;
  height: 100%;
  background: #ffffff;
}

.content-wrap {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

/* ----------- IntroduÃ§Ã£o ----------- */

.internas {
  padding: 30px 0 0 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s;
}

.paginas .page-content h1,
.paginas .page-content h2,
.paginas .page-content h3 {
  color: #333;
  font-weight: bold;
  margin: 10px 0;
}

.paginas .txt-intro h2,
.internas .txt-intro h2,
.internas .txt-intro h1 {
  font-size: 44px;
  color: #333;
  line-height: 57px;
  font-weight: 900;
  margin: 0 0 15px 0;
}

.internas .txt-intro p {
  font-size: 20px;
  color: #313131;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
  /*max-width: 400px;*/
}

.head-intro {
  padding: 0px 0 50px 0;
}

.default-intro .calculadora-valor {
  max-width: 400px;
  padding: 0px 30px 10px 20px;
  overflow: unset;
  box-shadow: 0px 1px 3px 0.5px rgb(0 0 0 / 16%);
  border: 5px solid rgb(22, 159, 96);
  text-align: center;
  margin: 20px;
  background: #fff;
}

.default-intro .plano-valor .moeda,
.default-intro .calculadora-valor .moeda {
  font-size: 60px;
  font-weight: bold;
  color: #169839;
}

.internas .form-calculadora .sub-title {
  color: #6a6666;
  font-size: 12px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.internas .form-calculadora ul li {
  padding: 0px 30px 10px 20px;
  overflow: unset;
  box-shadow: 0px 1px 3px 0.5px rgb(0 0 0 / 16%);
  border-left: 5px solid rgba(68, 128, 197, 0.3);
  margin-bottom: 20px;
  border-color: rgba(71, 172, 105, 0.6);
}

.page-planos ul li:hover {
  border-color: red;
}
