* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

:root {
  --hue: 138;
  --bg-color: hsl(var(--hue), 16%, 89%);
  --primary-color: hsl(var(--hue), 56%, 26%);
  --text-color: hsl(11, 80%, 59%);

  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-weight: 400;
  height: 100%;
  background: var(--bg-color);
}

/*==========INTRO============*/
.internas {
  padding: 3rem;
  transition: all 0.5s;
}

.txt-intro h2,
.txt-intro h1 {
  font-size: 3.6rem;
  color: #333;
  line-height: 5.7rem;
  font-weight: 900;
}

.txt-intro p {
  font-size: 1.8rem;
  color: #313131;
}

/*==========CALCULADORA============*/
.calculadora-valor {
  max-width: 49.5rem;
  margin: 0 auto;
  padding: 2rem;
  overflow: unset;
  border: 8px solid var(--primary-color);
  text-align: center;
  background: #fff;
}

.calculadora-valor .moeda {
  font-size: 8rem;
  font-weight: bold;
  color: var(--text-color);
}

.internas .form-calculadora .sub-title {
  color: #6a6666;
  font-size: 12px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.internas .form-calculadora ul li {
  padding: 0px 30px 10px 20px;
  overflow: unset;
  box-shadow: 0px 1px 3px 0.5px rgb(0 0 0 / 16%);
  border-left: 5px solid rgba(68, 128, 197, 0.3);
  margin-bottom: 20px;
  border-color: rgba(71, 172, 105, 0.6);
}

.page-planos ul li:hover {
  border-color: red;
}
